@using Hourly.Components
@using Microsoft.AspNetCore.Components.Web
@inherits TablePageBase

@if (this.User == null)
{
    <p>Loading...</p>
    <progress />
}
else
{
    <p>Hours for @this.User.Name</p>
    <p><button style="width:20em; height:10em">Punch Clock</button></p>
    <PayPeriodSelector User="@this.User" @bind-ForDayLocal="this.ForDayLocal" />
    <TimeChart User="@this.User" Admin="@this.Admin" ForDayLocal="@this.ForDayLocal" />
}
