@using Hourly.Components
@using Microsoft.AspNetCore.Components.Web
@inherits TablePageBase

@if (this.SelectedView != null)
{
    <p>
        <select style="display:inline" class="firstFocus" @bind="this.SelectedView">
            <option value="@EmployeePage.ViewPunch">Punch clock</option>
            <option value="@EmployeePage.ViewChart">Pay periods</option>
        </select>
        <span>for @this.User.Name</span>
    </p>
}

@switch (this.SelectedView)
{
    case null:
        <p>Loading...</p>
        break;

    case EmployeePage.ViewPunch:
        <p><button style="width:20em; height:10em">Punch Clock</button></p>
        break;

    case EmployeePage.ViewChart:
        <PayPeriodSelector User="@this.User" @bind-ForDayLocal="this.ForDayLocal" />
        <TimeChart User="@this.User" Admin="@this.Admin" ForDayLocal="@this.ForDayLocal" />
        break;
}
