@using Hourly.Data;
@using Hourly.Utility;
@using Microsoft.AspNetCore.Components.Web

@if (this.MergedPayPeriod == null)
{
    <progress aria-label="Loading..." />
}
else if (!this.ViewModel.Admin)
{
    <table cellspacing="0" cellpadding="4">
        @foreach (Day day in this.MergedPayPeriod.Days)
        {
            <tr>
                <td><b>@day.DayLocal.ToString("ddd"),</b></td>
                <td><b>@day.DayLocal.ToString("MMM d")</b></td>
                <td colspan="4" />
            </tr>

            foreach (Time time in day.Times)
            {
                <tr class="time-row @(time.EndLocal.HasValue ? "finished" : "unfinished")">
                    <td></td>
                    <td style="text-align:center">&bull;</td>
                    <td>@(time.StartLocal.TimeToDisplayString())</td>
                    <td>to</td>
                    <td>@(time.EndLocal.HasValue ? time.EndLocal.Value.TimeToDisplayString() : "--")</td>
                    <td>@(time.Type)</td>
                </tr>
            }
        }
    </table>
}
else
{
    <table>
        @foreach (Day day in this.MergedPayPeriod.Days)
        {
            <tr>
                <td>@day.DayLocal.ToString("ddd"),</td>
                <td>@day.DayLocal.ToString("MMM d")</td>
                <td><button @onclick="() => TimeChart.NewTime(day)" disabled="@this.Disabled" style="width:2em">+</button></td>
                <td colspan="3"></td>
            </tr>

            foreach (Time time in day.Times)
            {
                <tr>
                    <td colspan="2"></td>
                    <td><button @onclick="() => TimeChart.DeleteTime(day, time)" disabled="@this.Disabled" style="width:2em">-</button></td>
                    <td><input @bind="time.StartLocal" type="time" disabled="@this.Disabled" /></td>
                    <td><input @bind="time.EndLocal" type="time" disabled="@this.Disabled" /></td>
                    <td>
                        <select @bind="time.Type" disabled="@this.Disabled">
                            <option value="Work">Work</option>
                            <option value="Sick">Sick</option>
                            <option value="Vacation">Vacation</option>
                            <option value="Holiday">Holiday</option>
                        </select>
                    </td>
                </tr>
            }
        }
    </table>

    <p>Notes:</p>
    <p><textarea rows="4" cols="40" @bind="this.MergedPayPeriod.Notes" @bind:event="onchange" disabled="@this.Disabled" /></p>
    <hr />
    <p>
        <button style="display:inline" @onclick="this.SaveChanges" disabled="@this.Disabled">Save</button>
        <button style="display:inline" @onclick="this.ResetChanges" disabled="@this.Disabled">Reset</button>
    </p>
}
