@using Hourly.Data;
@using Hourly.Utility;
@using Microsoft.AspNetCore.Components.Web

@if (this.MergedPayPeriod == null)
{
    <progress aria-label="Loading..." />
}
else if (!this.ViewModel.Admin)
{
    <table cellspacing="0" cellpadding="4">
        @foreach (Day day in this.MergedPayPeriod.Days)
        {
            <tr>
                <td><b>@day.DayLocal.ToString("ddd"),</b></td>
                <td><b>@day.DayLocal.ToString("MMM d")</b></td>
                <td colspan="4" />
            </tr>

            foreach (Time time in day.Times.Where(t => t.Type != TimeType.Deleted))
            {
                <tr class="time-row @(time.EndLocal.HasValue ? "finished" : "unfinished")">
                    <td></td>
                    <td style="text-align:center">&bull;</td>
                    <td>@(time.StartLocal.TimeToDisplayString())</td>
                    <td>to</td>
                    <td>@(time.EndLocal.HasValue ? time.EndLocal.Value.TimeToDisplayString() : "--")</td>
                    <td>@(time.Type)@(time.EndLocal.HasValue ? (", " + (time.EndLocal.Value - time.StartLocal).TotalHours.ToString("N2") + " hours" ) : "")</td>
                </tr>
            }
        }
    </table>
}
else // Admin
{
    <p>
        <button style="display:inline" @onclick="this.SaveChanges" disabled="@this.Disabled">Save</button>
        <button style="display:inline" @onclick="this.ResetChanges" disabled="@this.Disabled">Reset</button>
    </p>

    <table>
        @foreach (Day day in this.MergedPayPeriod.Days)
        {
            <tr>
                <td>@day.DayLocal.ToString("ddd"),</td>
                <td>@day.DayLocal.ToString("MMM d")</td>
                <td><button @onclick="() => TimeChart.NewTime(day)" disabled="@this.Disabled" style="width:2em">+</button></td>
                <td colspan="3"></td>
            </tr>

            foreach (Time time in day.Times.Where(t => t.Type != TimeType.Deleted))
            {
                <tr>
                    <td colspan="2"></td>
                    <td><button @onclick="() => this.DeleteTime(day, time)" disabled="@this.Disabled" style="width:2em">-</button></td>
                    <td><input @bind="time.StartLocal" type="time" disabled="@this.Disabled" /></td>
                    <td><input @bind="time.EndLocal" type="time" disabled="@this.Disabled" /></td>
                    <td>
                        <select @bind="time.Type" disabled="@this.Disabled">
                            <option value="Work">Work</option>
                            <option value="Sick">Sick</option>
                            <option value="Vacation">Vacation</option>
                            <option value="Holiday">Holiday</option>
                        </select>
                    </td>
                </tr>
            }
        }
    </table>
}

@if (this.MergedPayPeriod != null)
{
    <hr />

    <p>Rate is @(this.MergedPayPeriod.PayRate.ToString("C2")), overtime is @((this.MergedPayPeriod.PayRate * 1.5).ToString("C"))</p>
    <table style="border-collapse:collapse" class="totals">
        <tr>
            <td>Regular</td>
            <td>@(this.HoursFor(TimeDisplayType.Regular).ToString("N2")) hours</td>
            <td>= @(this.PayFor(TimeDisplayType.Regular).ToString("C2"))</td>
        </tr>
        <tr>
            <td>Overtime</td>
            <td>@(this.HoursFor(TimeDisplayType.Overtime).ToString("N2")) hours</td>
            <td>= @(this.PayFor(TimeDisplayType.Overtime).ToString("C2"))</td>
        </tr>
        <tr>
            <td>Vacation</td>
            <td>@(this.HoursFor(TimeDisplayType.Vacation).ToString("N2")) hours</td>
            <td>= @(this.PayFor(TimeDisplayType.Vacation).ToString("C2"))</td>
        </tr>
        <tr>
            <td>Holiday</td>
            <td>@(this.HoursFor(TimeDisplayType.Holiday).ToString("N2")) hours</td>
            <td>= @(this.PayFor(TimeDisplayType.Holiday).ToString("C2"))</td>
        </tr>
        <tr>
            <td>Sick</td>
            <td>@(this.HoursFor(TimeDisplayType.Sick).ToString("N2")) hours</td>
            <td>= @(this.PayFor(TimeDisplayType.Sick).ToString("C2"))</td>
        </tr>
        <tr class="last-row">
            <td><b>Total</b></td>
            <td><b>@(this.HoursFor(TimeDisplayType.Total).ToString("N2")) hours</b></td>
            <td><b>= @(this.PayFor(TimeDisplayType.Total).ToString("C2"))</b></td>
        </tr>
    </table>

    <hr />

    <p>
        <span>Notes:</span><br />
        @if (this.ViewModel.Admin)
        {
            <textarea rows="2" cols="40" @bind="this.MergedPayPeriod.Notes" @bind:event="onchange" disabled="@this.Disabled" />
        }
        else
        {
            <span>@this.MergedPayPeriod.Notes</span>
        }
    </p>

    @if (this.ViewModel.Admin)
    {
        <p>
            <span>Private notes:</span><br />
            <textarea rows="2" cols="40" @bind="this.MergedPayPeriod.PrivateNotes" @bind:event="onchange" disabled="@this.Disabled" />
        </p>
    }
}
